<div class="container mt-5 p-5 shadow">

    <div class="jumbotron">
        <h1 class="display-4"><%= @customer.name %></h1>
        <hr>
        <p class="lead"> <b>Email :</b> <%= @customer.email %></p>
        <p class="lead"> <b>Phone No :</b> <%= @customer.phone %></p>
        <p class="lead"> <b>Address :</b> <%= @customer.address %></p>
        <hr>

        <div class="d-flex justify-content-between">
            <%= link_to "Edit", root_path %>  
            <%= link_to "Go Back", root_path %>
        </div>
        <hr>
        <h3 class="recent__orders"> Recent Orders</h3>
        
       

        
    </div>


</div>

 