<div class="container mt-5">


<div class=" my-3 d-flex justify-content-between">
  <div>
    <%= link_to "Add Customer", add_customer_path, class: "btn btn-info"%>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Add Order", add_order_path,class:"btn btn-info" %>
  </div>
  
     
  <%= form_tag(root_path, :method => "get",class:"d-inline-flex", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by customer name", class: "form-control" %>

    <%= button_tag(type: :submit, class: 'btn btn-info') do %>
                <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
   
  <% end %>



</div>


<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr. No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="address__of">Address</th>
      <th scope="col">Order Count</th>

    </tr>
  </thead>


    <tbody>
      <% @customer.each do |cust| %>
      <tr>
        <th scope="row"><%= cust.id %></th>
        <td> <a href=/show-customer/<%= cust.id %>> <%= cust.name%> </a> </td>
        <td><%= cust.email %> </td>
        <td>+91-<%= cust.phone %> </td>
        <td class="address__of"><%= cust.address %> </td>
        <td><%=  cust.orders.count %></td>



      </tr>
      <% end %>
    </tbody>



</table>

</div>