


<div class="container mt-5">


<div class=" my-3 d-flex justify-content-between">
  <div>
    <%= link_to "Add Order", add_order_path,class:"btn btn-info" %>
  </div>
  
     
  <%= form_tag(root_path, :method => "get",class:"d-inline-flex", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by customer name", class: "form-control" %>

    <%= button_tag(type: :submit, class: 'btn btn-info') do %>
                <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
   
  <% end %>



</div>


<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr. No</th>
      <th scope="col">Ordered by</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Ordered on</th>
      <th scope="col">Status</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody class="customer__infomations">
    

    <% i=1 %>
    <% @orders.each  do |order| %>

     <tr
     
        <% if order.status == "Completed" %>
          class ="alert alert-success"
        <%end%>
     
     >
      <th scope="row"><%= i %></th>
      <td> <%= Customer.returnCust(order.customer_id).name %> </a> </td>
      <td><%= Product.returnProduct(order.product_id).companyname+" "+Product.returnProduct(order.product_id).model %> </td>
      <td>₹<%= Product.returnProduct(order.product_id).price %>/- </td>
      <td><%= order.created_at %> </td>
      <td><%= order.status %> </td>
      <td><%= order.quantity %></td>
      <td> ₹<%= order.amount %>.0/- </td>
      <td> 
        
        <%= link_to update_order_path(order.id) do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
          
          &nbsp;&nbsp;

        <%= link_to delete_order_path(order.id), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>


        </td>

    </tr>

     <% i=i+1 %>

    <% end %>





   

    
  </tbody>
</table>

      <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>


</div>


