<div class="container mt-5">



<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr. No</th>
      <th scope="col">
      
           <div class=" w-75 d-flex justify-content-between align-items-center m-auto">

            <span>Company Name</span>


            <div class="sorting__functionality">
             
             <%= link_to products_path({orderby: "companyname", ordering: "asc"}) do %>
                <i class="fa-solid fa-arrow-up"></i>
              <% end %>

                <%= link_to products_path({orderby: "companyname", ordering: "desc"}) do %>
                <i class="fa-solid fa-arrow-down"></i>
              <% end %>



            </div>

          </div>
      
      
      </th>
      <th scope="col">Model</th>
      <th scope="col">Device</th>
      <th scope="col">

        <div class=" w-75 d-flex justify-content-between align-items-center m-auto">

            <span>Stock</span>

            <div class="sorting__functionality">
             
             <%= link_to products_path({orderby: "stock", ordering: "asc"}) do %>
                <i class="fa-solid fa-arrow-up"></i>
              <% end %>

                <%= link_to products_path({orderby: "stock", ordering: "desc"}) do %>
                <i class="fa-solid fa-arrow-down"></i>
              <% end %>



            </div>

          </div>
      
      
      </th>
      <th scope="col">


         <div class=" w-50 d-flex justify-content-between align-items-center m-auto">

            <span>Price</span>

            <div class="sorting__functionality">
             
             <%= link_to products_path({orderby: "price", ordering: "asc"}) do %>
                <i class="fa-solid fa-arrow-up"></i>
              <% end %>

                <%= link_to products_path({orderby: "price", ordering: "desc"}) do %>
                <i class="fa-solid fa-arrow-down"></i>
              <% end %>



            </div>

          </div>
      
      
      
      </th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody class="customer__infomations">
    

    <div class="d-flex justify-content-between w-100 my-3 align-items-center">

        <div class="w-25 my-3"> 
          <%= link_to "Add Product", add_product_path, class: "btn btn-info" %>       
        </div>


      <div class="w-50 p-2  alert-success"> 
      
        <span class="badge alert-info">Tag by device type</span>
      </div>




       
    </div>

    <% 
        pagenumber = params[:page].to_i  == 0 ? 1 : params[:page].to_i
        i = (pagenumber - 1).abs*10 + 1 
    %>
    <% @product.each do |product| %>

     <tr 
        <% if product.stock.to_i <= 0 %>
          class="alert-danger"
        <%end%>
     >
      <th scope="row"><%= i %></th>
      <td> <%= product.companyname %> </td>
      <td><%= product.model %> </td>
      <td ><%= product.device %> </td>
      <td><%= product.stock %> </td>
      <td >₹ <%= product.price %>/- </td>
      <td> 
        
        <%= link_to update_product_path(product.id) do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
          
          &nbsp;&nbsp;&nbsp;

        <%= link_to delete_product_path(product.id), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>


        </td>

      

    </tr>
    <% i=i+1 %>

    <% end %>





   

    
  </tbody>
</table>
      <%= will_paginate @product%>


</div>