<div class="container mt-5">



<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr. No</th>
      <th scope="col">Company Name</th>
      <th scope="col">Model</th>
      <th scope="col">Device</th>
      <th scope="col">Stock</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody class="customer__infomations">
    

    <div class="d-flex justify-content-between w-100 my-3 align-items-center">
        <div class="w-75"> 
          <%= link_to "Add Product", add_product_path, class: "btn btn-info" %>
          
        </div>

        <%= form_tag(products_path, :method => "get",class:"d-inline-flex", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search by company name", class: "form-control w-25" %>

          <%= button_tag(type: :submit, class: 'btn btn-info') do %>
                      <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        
        <% end %>
    </div>

    <% i=1 %>
    <% @product.each do |product| %>

     <tr 
        <% if product.stock.to_i <= 0 %>
          class="alert-danger"
        <%end%>
     >
      <th scope="row"><%= i %></th>
      <td> <%= product.companyname %> </td>
      <td><%= product.model %> </td>
      <td ><%= product.device %> </td>
      <td><%= product.stock %> </td>
      <td >₹ <%= product.price %>/- </td>
      <td> 
        
        <%= link_to update_product_path(product.id) do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
          
          &nbsp;&nbsp;&nbsp;

        <%= link_to delete_product_path(product.id), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>


        </td>

      

    </tr>
    <% i=i+1 %>

    <% end %>





   

    
  </tbody>
</table>
      <%= will_paginate @product, renderer: BootstrapPagination::Rails %>


</div>