<div class="container mt-5 w-50 border p-5 shadow">

    <h1 class="add__customer__heading mb-4">Add Product</h1>

    <%= form_for @product, url:add_product_path do |form| %>


        <% if @product.errors.any? %>
            <div class="alert alert-danger">
                <% @product.errors.full_messages.each do |message| %>
                <div>
                    <%= message  %>
                </div>
                <% end %>
            </div>
        <% end %>




        <div class="mb-3">
            <%= form.label :companyname %>    
            <%= form.text_field :companyname, class: "form-control", placeholder: "Lenovo" %>
        </div>

        <div class="mb-3">
            <%= form.label :model %>    
            <%= form.text_field :model, class: "form-control", placeholder: "Ideapad 330" %>
        </div>

        <div class="mb-3">
            <%= form.label :stock %>    
            <%= form.text_field :stock, class: "form-control", placeholder: "10" %>
        </div>
        <div class="mb-3">
            <%= form.label :price %>    
            <%= form.text_field :price, class: "form-control", placeholder: "42000" %>
        </div>
         <div class="mb-3">
            <%= form.label :device %>    
           <%= form.text_field :device, class: "form-control", placeholder: "Laptop" %>
        </div>

        




        <div class="w-100 text-center pt-3 d-flex justify-content-between align-items-center">
            <%= form.submit "Add Product" ,class: "btn btn-primary ml-5" %>
            <%= link_to "Go Back", products_path, class: "btn btn-primary ml-5"%>
        </div>

        

        <div class="text-left pt-3">
        
        </div>


    <% end %>


</div>